
<div class="mainContent">

    <h1 style="font-family: Arial; margin-left:500px;"> Availiable Doctors</h1>

   

   <input class = "search" type = "text" [(ngModel)] = "filterterm"
    name= "keyword"
    placeholder="Search">

    <select class = "inputx" name = "sortBy" [(ngModel)] = "filters.sortBy" (change) = "listDoctor()" >
      
        <option> FirstName </option>
        <option> LastName </option>
        
    </select>
    <button class = "export" (click) = "downloadPDF()"> Export PDF </button>
    <button class = "add" (click)="addDoctor()" > Add Doctor </button>

 <div >
    <table class= "list" id ="contentToConvert">
      <tr style="text-align:center; "  >
        <th >Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>NIC</th>
        <th>Gender</th>
        <th>Contact Number </th>
        <th>Address </th>
        <th>Email</th>
        <th>DOB </th>
        <th>Hired Date </th>
        <th> Education </th>
  
      </tr>
        
           <tr style="text-align:center; " *ngFor="let doc of doctor | filter:filterterm">
                <td>{{doc.employeeId}}</td>
                <td >{{doc.firstname}}</td>
                <td >{{doc.lastname}}</td>
                <td >{{doc.nic}}</td>
                <td >{{doc.gender}}</td>
                <td >{{doc.contactno}}</td>
                <td >{{doc.address}}</td>
                <td >{{doc.email}}</td>
                <td >{{doc.education}}</td>
                <td >{{doc.dob}}</td>
                <td >{{doc.hiredDate}}</td>
           
                 <button class = "delete" (click)="deleteDoctor(doc.employeeId)"> Delete </button>
                 
           </tr> 
           
    </table>  
    
</div>
    
</div>

