<div class="mainContent">

  <div class="container">

    <br>
    <br>

    <div>

      <form (ngSubmit)="saveSupplier()" id="supplierForm" style="z-index: 100;">

        <div class="container2">
          <br><br><br>

          <div class="row">
            <div class="col-75">
              <input required type="text" name="name" [(ngModel)]="supplier.name" placeholder="Enter Supplier name" 
              ng-required="true" ng-minlength="2" ng-maxlength="10"/>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-75">
              <input required type="email" id="email" name="email" [(ngModel)]="supplier.email"
                placeholder="Enter email" />
              <!--p ng-show ="supplierForm.email.$error.ng-minlength || supplierForm.email.$invalid" > </p-->
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-75">
              <input type="text" name="address" [(ngModel)]="supplier.address" placeholder="Enter address" />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-75">
              <input required type="number" name="tp" [(ngModel)]="supplier.tp" placeholder="Enter tp" />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-75">
              <input type="text" name="drugtype" [(ngModel)]="supplier.drugtype" placeholder="Enter drugtype" />
            </div>
          </div>

          <br>

          <div class="row">
            <input type="submit" value=" ENTER " style="background-color: green;">
          </div>

        </div>
      </form>
    </div>
  </div>
</div>