<div class="mainContent">

  <h1 style="font-family: Arial; margin-left:500px;"> Availiable Pharmacists</h1>

 

 <input class = "search" type = "text" [(ngModel)]="filterterm"
  name= "keyword" placeholder="Search"/>

  <select class = "inputx" name = "sortBy" [(ngModel)] = "filters.sortBy" (change) = "listPharmacist()" >
    
      <option> FirstName </option>
      <option> LastName </option>
      <option> Email </option>
      <option> DOB </option>
      <option> Hired Date </option>

  </select>
  <button class = "export" (click) = "downloadPDF()"> Export PDF </button>
  <button class = "export1" (click)="addPharmacist()" > Add Pharmacist </button>

  <div >
  <table class= "orders" id ="contentToConvert">
    <tr style="text-align:center; "  >
      <th >Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>NIC</th>
      <th>Gender</th>
      
      <th>Contact Number </th>
      <th>Address </th>
      <th>Email</th>
      <th>DOB </th>
      <th>Hired Date </th>

    </tr>
      
         <tr style="text-align:center; " *ngFor="let pharma of pharmacist | filter:filterterm ">
              <td>{{pharma.employeeId}}</td>
              <td >{{pharma.firstName}}</td>
              <td >{{pharma.lastName}}</td>
              <td >{{pharma.nic}}</td>
              <td >{{pharma.gender}}</td>
              <td >{{pharma.contactNo}}</td>
              <td >{{pharma.address}}</td>
              <td >{{pharma.email}}</td>
              <td >{{pharma.dob}}</td>
              <td >{{pharma.hiredDate}}</td>
         
               <button class = "delete" (click)="deletePharmacist(pharma.employeeId)"> Delete </button> 
                <button class = "edit"  (click)="edit(pharma)" > Edit </button>   
               
         </tr> 
         
  </table>  

</div>

<div class="backShader" [style.display]="isDetVisible ? 'block' : 'none'">
  <span class="close" (click)="closeDetail()">&times;</span>

      <form (ngSubmit)="updatePharmacist()" name = "form" >

        <div class="container2" >
          <h1 style="font-family: Arial; color: white; margin-left: 150px;"> Update Pharmacist</h1>
          <div class="row">
            <div class="col-75">
              <input type="text" name="firstName" [(ngModel)]="pharmacistEdit.firstName"
                                  placeholder="Enter Cashier name" />
            </div>
          </div>
      
          <div class="row">
            <div class="col-75">
              <input type="text" name="LastName" [(ngModel)]="pharmacistEdit.lastName" 
              placeholder="Enter LastName" />
            </div>
          </div>
      
          <div class="row">
            <div class="col-75">
                  <select name="gender" id="gender" [(ngModel)]="pharmacistEdit.gender" >
            
                      <option selected value="Male">Male</option>
                      <option value="Female">Female</option>
            
                      
              </select>
            </div>
          </div>
             <!--
                  <div class="row">
                    <div class="col-75">
                      <input type="text" name="password" [(ngModel)]="this.password" 
                                          placeholder="Enter Password"  required />
                  
                    </div>
                  </div>
              -->
              <div class="row">
                <div class="col-75">
                  <input type="text" name="email" [(ngModel)]="pharmacistEdit.email" 
                  placeholder="Enter Email" />
                </div>
              </div>

          <div class="row">
            <div class="col-75">
              <input type="text" name="nic" [(ngModel)]="pharmacistEdit.nic" 
              placeholder="Enter NIC" />
            </div>
          </div>

          <div class="row">
            <div class="col-75">
              <input type="text" name="contactno" [(ngModel)]="pharmacistEdit.contactNo" 
              placeholder="Enter Contact No" />
            </div>
          </div>

          <div class="row">
            <div class="col-75">
              <input type="text" name="email" [(ngModel)]="pharmacistEdit.address" 
              placeholder="Enter Address" />
            </div>
          </div>
      
          <div class="row">
            <div class="col-75">
              <input type="date" name="dob" [(ngModel)]="pharmacistEdit.dob" 
              placeholder="Enter DOB" />
            </div>
          </div>

          <div class="row">
            <div class="col-75">
              <input type="date" name="hiredDate" [(ngModel)]="pharmacistEdit.hiredDate" 
              placeholder="Enter Hired Date" />
            </div>
          </div>
          
      
          <button type = "submit" class = "submit" >  Save   </button>          
        
        </div>  
          </form>  
        
       
</div>

