

    <div class="mainContent">
       <!-- main content -->
       <div class="container center-block ">
        <div id="Docinfo">
           <h1 class="display-1">CareNow!</h1>
           <p class="lead">Welcome Dr. Roshine Poddalgoda.</p>
           <hr>
        </div>
    </div>
   </div>
    
    <!-- <div class="mainContent" style="background-color :#ffffff; height:5%; width:90%;box-shadow:none;padding:0;"></div>  -->
    
    
  
<script type="text/javascript">
  function openTimeLine() {
    document.getElementById("notificationPanel").style.width = "340px";
  }

  function closeTimeLine() {
    document.getElementById("notificationPanel").style.width = "0";
  }
</script>