<router-outlet></router-outlet>


<div class="mainContent">

            <form (ngSubmit)="saveCashier()" id= "form" class="form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
             
            <div class="container2" >
              <h1 style="font-family: Arial; color: white; margin-left: 150px;"> Add Cashier</h1>
              
              <div class="row">
                <div class="col-75">
                  <input required #firstName="ngModel" type="text" name="firstName" [(ngModel)]="cashier.firstName"
                                      placeholder="Enter Cashier name" />
                                      
                </div>
                <span *ngIf="firstName.invalid && firstName.touched" class = "error" > First Name requried</span>
              </div>
          
              <div class="row">
                <div class="col-75">
                  <input type="text" #lastName="ngModel" required  name="LastName" [(ngModel)]="cashier.lastName" 
                  placeholder="Enter LastName" />
                </div>
                <span *ngIf="lastName.invalid && lastName.touched" class = "error" > Last Name requried</span>
              </div>
          
              <div class="row">
                <div class="col-75">
                      <select name="gender" id="gender" [(ngModel)]="cashier.gender" required >
                
                          <option selected value="M">Male</option>
                          <option value="F">Female</option>
                                                  
                  </select>
                </div>
              </div>

                 
              <div class="row">
                <div class="col-75">
                  <input  type="text" #email="ngModel" email required name="email" [(ngModel)]="cashier.email"
                  placeholder="Enter Email"  />
                </div>
                <span *ngIf="email.invalid && email.touched" class = "error" > Please enter a valid email</span>
              </div>
                      

              <div class="row">
                <div class="col-75">
                  <input type="password" minlength="4" name="password" [(ngModel)]="this.password" 
                                      placeholder="Enter Password"  required />
              
                </div>
              </div>

              <div class="row">
                <div class="col-75">
                  <input type="text" #nic="ngModel" required name="nic" [(ngModel)]="cashier.nic" 
                  placeholder="Enter NIC"  />
                </div>
                <span *ngIf="nic.invalid && nic.touched" class = "error" > NIC is requried</span>
              </div>

              <div class="row">
                <div class="col-75">
                  <input type="text" #contactNo="ngModel" required name="contactno" [(ngModel)]="cashier.contactNo" 
                  placeholder="Enter Contact No" />
                </div>
                <span *ngIf="contactNo.invalid && contactNo.touched" class = "error" > Contact No is requried</span>
              </div>

              <div class="row">
                <div class="col-75">
                  <input required #address="ngModel"  type="text" name="address" [(ngModel)]="cashier.address" 
                  placeholder="Enter Address" />
                </div>
                <span *ngIf="address.invalid && address.touched" class = "error" > Address requried</span>
              </div>
          
              <div class="row">
                <div class="col-75">
                  <input type="text" #dob="ngModel"  name="dob" [(ngModel)]="cashier.dob" 
                  placeholder="Enter DOB" required/>
                </div>
                <span *ngIf="dob.invalid && dob.touched" class = "error" > Date of birth is requried</span>
              </div>

              <div class="row">
                <div class="col-75">
                  <input type="text" #hiredDate="ngModel" required  name="hiredDate" [(ngModel)]="cashier.hiredDate" 
                  placeholder="Enter Hired Date"  />
                </div>
                <span *ngIf="hiredDate.invalid && hiredDate.touched" class = "error" > Hired Date is requried</span>
              </div>           
          
              <button [disabled]="userForm.invalid" type = "submit" class = "submit" >  Save   </button>
              <span *ngIf="userForm.invalid && userForm.touched" class = "error" > Invalid Form Entry</span>
             
             
            
            </div>  
            </form> 
   
          </div>
