<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

<div class="mainContent">
   
    <div class="textpaddleft">
    <h1 class="display-3">Drug Stock.</h1></div>    
    <br>   <br>   <br>   

<table class="table table-hover  " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-light">
    <tr>
    <th>Drug ID</th>
    <th>Drug Name</th>
    <th>Drug EXP</th>
    <th>Drug Quntity</th>
    <th></th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let Drug of ds_">
        <td>{{Drug.drugId}}</td>
        <td>{{Drug.drugName}}</td>
        <td>{{Drug.drugExpDate}}</td>
        <td>{{Drug.drugQuantity}}</td>
        <td><button (click)="AddDrug(Drug.drugName)" class='btn btn-lg btn-outline-success'>
            <i class="fas fa-plus"></i></button></td>
    </tr>
</tbody>
</table>



<app-prescription [Drugs]="P_Drugs" ></app-prescription>
</div>

