<!--REC-->
<div class="backgroundRec" *ngIf="service.isReceptionist"></div>
<div *ngIf="service.isReceptionist" class="mainContent" style="background-color:rgba(13,149,176,0.8); z-index:11;left:7.3%;"></div>
<!--DOC-->
<div class="backgroundDoc" *ngIf="service.isDoctor"></div>
<div *ngIf="service.isDoctor" class="mainContent" style="background-color:rgba(111, 106, 121, 0.8); z-index:11;left:7.3%;"></div>
<!--PHARMACIST-->
<div class="backgroundPha" *ngIf="service.isPharmacist"></div>
<div *ngIf="service.isPharmacist" class="mainContent" style="background-color:rgba(111, 106, 121, 0.8); z-index:11;left:7.3%;"></div>
<!--PATIENT-->
<div class="backgroundPat" *ngIf="service.isPatient"></div>
<div *ngIf="service.isPatient" class="mainContent" style="background-color:rgba(111, 106, 121, 0.8); z-index:11;left:7.3%;"></div>
<!--Stock Manager-->
<div class="backgroundPha" *ngIf="service.isStockManager"></div>
<div *ngIf="service.isStockManager" class="mainContent" style="background-color:rgba(0, 0, 0, 0.8); z-index:11;left:7.3%;"></div>
<!--Cashier-->
<div class="backgroundCas" *ngIf="service.isCashier"></div>
<div *ngIf="service.isCashier" class="mainContent" style="background-color:#379683; z-index:11;left:7.3%;"></div>
<!--Deliverer-->
<div class="backgroundDel" *ngIf="service.isDeliverer"></div>
<div *ngIf="service.isDeliverer" class="mainContent" style="background-color:#D48166; z-index:11;left:7.3%;"></div>
<!--Administrator-->
<div class="backgroundAdm" *ngIf="service.isAdministrator"></div>
<div *ngIf="service.isAdministrator" class="mainContent" style="background-color:#2e2e2e; z-index:11;left:7.3%;"></div>

<div *ngIf="service.isAuthenticated">
  <div class="header">
    <img src="assets/img/LOGO.png" alt="CARENOW LOGO" width="15%" class="logoclass">
    <div class="notiIcon" title="NOTIFICATION" (click) = "notifyOpen()">
      <img src="assets/img/notiIcon.png" alt="Notification Icon" width="100%">
      <span class="notiAlert" style="display: none;">2</span>
    </div>
    <div class="profileBlock">
      <div class="profile">
        <img src="assets/img/profile-avatar.jpg" alt="PROFILE AVATAR" width="20%" class="profileAvatar">
        <div class="logoutMenu">
          <a>Profile</a>
          <a>Settings</a>
          <hr style="margin-top:15%;margin-bottom:2%;">
          <a class="logout" (click)="logout()">Logout</a>
        </div>
      </div>
  
      <div class="subProfileBlock">
        <a class="userName">{{service.sessionUser_NAME}}</a><br>
        <a class="userType" *ngIf="!service.isDoctor">{{service.sessionUser_TYPE}}</a>
        <a class="userType" style = "color:white" *ngIf="service.isDoctor">{{service.sessionUser_TYPE}}</a>
      </div>
    </div>
  </div>
  <div  class="notificationPanel" [style.width]="isNotify ? '340px' : '0px'">
    <a class="closebtn" (click)="notifyClose()">&times;</a>
    <p class="notiHead">NOTIFICATION</p>

    <div id="notificationPanel" *ngFor="let memo of Memos; index as i; first as isFirst">
      <div class="remover" *ngIf="(memo.recepientId == service.sessionUser_IDFormat) || (memo.recepientId == '') || (memo.recepientId == null)">
      <div class="timecapsule" style="background-color: rgba(13,149,176,1);" *ngIf="memo.recepientType == service.sessionUser_TYPE">
        <label style="color: rgb(231, 231, 231);">{{memo.memoDate}}</label><br>
        <label style="color: rgb(231, 231, 231);font-size: 12px;">{{memo.senderId}}</label><br>
        <label style="color: rgb(231, 231, 231);font-size: 10px;">{{memo.senderType}}</label><br>
        <hr>
        <p class="notiContent" style="color: rgb(255, 255, 255);font-size: 13px;">{{memo.content}}</p>
      </div>  
      </div>
  </div>
  </div>
  
  
  <div class="mainContent" style="background-color :#ffffff; height:5%; width:90%;box-shadow:none;padding:0;"></div>
  <footer class="footer">
    <div style="float:left;">
      <a>24/7 Church Road, Kepungoda</a><br>
      <a>+94 071 652 2177 / +94 076 378 1644</a><br>
      <a>CareNow Holdings PLC @2020, All Rights Reserved</a><br>
    </div>
    <div class="" style="margin-top:0.5%;">
      <img src="assets/img/linkedinLOGO.png" alt="Linkedin LOGO" width="15%" class="socialMediaclass" title="LinkedIn">
      <img src="assets/img/twitterLOGO.png" alt="Twitter LOGO" width="15%" class="socialMediaclass" title="Twitter">
      <img src="assets/img/fbLOGO.png" alt="Facebook LOGO" width="15%" class="socialMediaclass" title="Facebook">
    </div>
  </footer>
  </div>
  <div class="navigation" *ngIf="service.isReceptionist">
    <div class="naviIcon" title="Calendar" routerLink="calendars">
      <img src="assets/img/calendarIcon.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="Appointments' Today" routerLink="appointments">
      <img src="assets/img/appointmentIcon.png" alt="Appointment Icon" width="100%">
    </div>
    <div class="naviIcon" title="Patient Records" routerLink="patients"> 
      <img src="assets/img/patientRecIcon.png" alt="Patient Record Icon" width="100%">
    </div>
    <div class="naviIcon" title="Doctor Records" routerLink="doctors">
      <img src="assets/img/doctorRecIcon.png" alt="Doctor Record Icon" width="100%">
    </div>
    <div class="naviIcon" title="Generate Reports" routerLink="reports">
      <img src="assets/img/diagnosisIcon.png" alt="Diagnosis Record Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isPharmacist">
    <div class="naviIcon" title="Drug Detail" routerLink="drugs">
      <img src="assets/img/medi.png" alt="drug Icon" width="100%">
    </div>
    <div class="naviIcon" title="Delivery Detail" routerLink="deliveries">
      <img src="assets/img/deliveries.png" alt="delivery Icon" width="100%">
    </div>
    <div class="naviIcon" title="Deliverer Detail" routerLink="deliverers">
      <img src="assets/img/deliverers.png" alt="deliverer Icon" width="100%">
    </div>
    <div class="naviIcon" title="Reports" routerLink="phareports">
      <img src="assets/img/reports.png" alt="Report Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isDoctor">
    <div class="naviIcon" title="Generate Reports" routerLink="/addPR">
      <img src="assets/img/ADDPRicon.png" alt="Diagnosis Record Icon" width="100%">
    </div>
    <div class="naviIcon" title="New Prescription" routerLink="/ADDpres">
      <img src="assets/img/presIcon.png" alt="Prescription Icon" width="100%">
    </div>
    <div class="naviIcon" title="Patient Records" routerLink="/viewPRs"> 
      <img src="assets/img/PRicon.png" alt="Patient Record Icon" width="100%">
    </div>
    <div class="naviIcon" title="Appointments' Today" routerLink="appointments">
      <img src="assets/img/apoIcon.png" alt="Appointment Icon" width="100%">
    </div>
    <div class="naviIcon" title="Calendar" routerLink="/patientHome">
      <img src="assets/img/calanderIcon.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isPatient">
    
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isStockManager">
    <div class="naviIcon" title="Suppliers" routerLink="suppliers">
      <img src="assets/img/supplierIcon.png"  width="100%"style="border-radius: 5px;">
    </div>
    <div class="naviIcon" title="Oreders' Today" routerLink="orders">
      <img src="assets/img/orderIcon.png"  width="100%"style="border-radius: 5px;">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isCashier">
    <div class="naviIcon" title="viewbill" routerLink="viewbill">
      <img src="../assets/img/newbill.png" alt="bill-list Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <div class="navigation" *ngIf="service.isDeliverer">
    <div class="naviIcon" title="Delivery-records" routerLink="deliver">
      <img src="../assets/img/delivery.png" alt="CareNow Memo Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <!--ADMINISTRATOR-->
  <div class="navigation" *ngIf="service.isAdministrator">
    <div class="naviIcon" title="Pharmacist" routerLink="listPharmacist">
      <img src="assets/img/pharmacist.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="Cashier" routerLink="listCash">
      <img src="assets/img/cashier.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="Doctor" routerLink="listDoc">
      <img src="assets/img/doctor.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="StockManager" routerLink="listStockManager">
      <img src="assets/img/manger.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="Receptionist" routerLink="listRec">
      <img src="assets/img/recep.png" alt="Calendar Icon" width="100%">
    </div>
    <div class="naviIcon" title="CareNow Memo" routerLink="create_memo">
      <img src="assets/img/memoIcon.png" alt="CareNow Memo Icon" width="100%">
    </div>
  </div>

  <router-outlet></router-outlet>


