<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  
  <div class="textpaddleft">
  <h1 class="display-3">Prescribed Drugs.</h1></div>    
  <br>   <br> 
<table id="dataTable" class="table table-hover "style="width:100%">
  <thead>
    <tr>
      <th>Drug name</th>
      <th>Frequency</th>
      <th>Additional Frequency</th>
      <th>Special Record</th>
      <th>Additional Record</th>
      <th>Duration</th>   
      
  </tr>
</thead>
      <tbody>
        <tr *ngFor = "let TD of tds">
          <td>{{TD.tdrugname}}</td>
          <td>{{TD.tfrequencyselect}}</td>
          <td>{{TD.tfrequencyinput}}</td>
          <td>{{TD.trecordselect}}</td>
          <td>{{TD.trecordinput}}</td>
          <td>{{TD.tdurationinput}}</td>
          <button (click) ="deleteTD(TD.tpid)" class='btn btn-lg btn-outline-danger'>
            <i class="fas fa-minus"></i></button>
          
      </tr> 
</tbody> 
</table> 
<div class="vertical-center">
<br><br><br>
<button class='btn btn-warning btn-lg' (click) ="getthis()" >Add Drugs to Prescription</button>
</div>


<app-mp [Pres]="Pres_" ></app-mp>

