
<div class="mainContent">

  <div id= font-selection>
  <br> <br> 
  <div class="textpaddleft">  
    <h1 class="display-3">Prescription History.</h1>    
</div>

<div style="display:flex">
<div *ngFor = "let MP of pres" >
<div class="bigcards ml-5 py-5">
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
            <br>
          <h6 class="card-head text-center">{{MP.prescription_date}}</h6>
          <hr>
          <h5>Prescription ID : {{MP.prescription_id}}</h5>
          <h5>Patient ID : {{MP.patient_id}}</h5> 
          <p>Name : {{MP.patient_name}} | Age : {{MP.patient_age}} </p>
          <br>
          <button class="btn btn-lg btn-primary" (click) ="Reorder(MP.prescription_id,MP.patient_id)" >Reorder</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>



