<div class="mainContent">
 
  <br> <br> 
  <div class="textpaddleft text-dark">  
    <h1 class="display-3">Patient Record.</h1>    
    <br>    


<div class="form-row">
<div class="col-3">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-primary btn-lg" type="button">Patient ID</button>
  </div>

  <input type="text"
  [(ngModel)] = "filtersPR.keyword"
  name="keyword"
  (input)= "listPR()"
  class="form-control form-control-lg"  
  aria-label="" 
  aria-describedby="basic-addon1">

</div>
</div>
<div class="col-9"></div>
</div></div>

<br>
<div style="overflow:auto;" class="table-responsive">
    <table  class="table table-hover">
      <thead>
        <tr>
          <th>Patient Record ID</th>
          <th>Patient ID</th>
          <th>Date</th>
          <th>Subjective</th>
          <th>Objective</th>
          <th>Assessment</th>
          <th>Plan</th>
          <th>Essential</th>
          <th>Extra</th>
          <th>Edit</th>
          <th>Delete</th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let PR of prs">
          <td style="width:3%;">{{PR.patientRecordID}}</td>
          <td style="width:3%;">{{PR.patientID}}</td>
          <td style="width:8%;">{{PR.patientrecorddate}}</td>
          <td style="width:14%;">{{PR.patientrecordsubjective}}</td>
          <td style="width:14%;">{{PR.patientrecordobjective}}</td>
          <td style="width:14%;">{{PR.patientrecordassessment}}</td>
          <td style="width:14%;">{{PR.patientrecordplan}}</td>
          <td style="width:14%;">{{PR.patientrecordessential}}</td>
          <td style="width:10%;">{{PR.patientrecordextra}}</td>
          <td><a class=" btn btn-outline-success" routerLink="/editPR/{{PR.patientRecordID}}" >Edit</a></td>
          <td><button class="btn btn-outline-danger" (click) ="deletePR(PR.patientRecordID)" >Delete</button></td>
      </tr> 
</tbody> 
<br> 
</table> 
</div>



</div>